<%- include('./layout/header.ejs')%>
  <div class="container hero-list">
    <p><strong>id:</strong><%= id%></p>
    <p><strong>名称:</strong><%= name%></p>
    <p><strong>性别:</strong><%= gender%></p>
    <p><strong>年龄:</strong><%= age%></p>
    <p><strong>地址:</strong><%= adress%></p>
    <p><strong>创建时间:</strong><%= ctime%></p>
  </div>
  <%- include('./layout/footer.ejs')%>